<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../public/stylesheet/style.css">


<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{/each}}
    <li>
        <article class="post">
      <div class="title">
        <h2>Example Title</h2>
      </div>
      <div>
        <h4>Content: </h4>
        <span>Hello World! This is your text example comment</span>
      </div>
      <div class="meta py-2">
        <h4>Created by:</h4> KG on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>
    </li>
        <li>
        <article class="post">
      <div class="title">
        <h2>New Title</h2>
      </div>
      <div>
        <h4>Content: </h4>
        <span>2nd comment</span>
      </div>
      <div class="meta py-2">
        <h4>Created by:</h4> KG on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>
    </li>
</ol>